In [2]:
# Project: Storm Events Analysis (NOAA)
# Notebook: 02_eda_overview.ipynb
# Goal: Explore trends, seasonality, and correlations
# Author: Brice Nelson
# Date: 2025-09-05

from pathlib import Path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["figure.dpi"] = 130
RANDOM_SEED = 42
np.random.seed(RANDOM_SEED)

# Paths
PROJECT_ROOT = Path.cwd().parent if Path.cwd().name == "notebooks" else Path.cwd()
DATA_RAW = PROJECT_ROOT / "data" / "raw"
DATA_INTERIM = PROJECT_ROOT / "data" / "interim"
DATA_PROCESSED = PROJECT_ROOT / "data" / "processed"
REPORT_FIGS = PROJECT_ROOT / "reports" / "figures"
REPORT_FIGS.mkdir(parents=True, exist_ok=True)

In [3]:
storm_data = pd.read_csv("../data/raw/StormEvents_details-ftp_v1.0_d1950_c20170120.csv")
storm_data.head()

   BEGIN_YEARMONTH  BEGIN_DAY  ...  EVENT_NARRATIVE  DATA_SOURCE
0           195004         28  ...              NaN          PUB
1           195004         29  ...              NaN          PUB
2           195007          5  ...              NaN          PUB
3           195007          5  ...              NaN          PUB
4           195007         24  ...              NaN          PUB

[5 rows x 51 columns]

In [4]:
storm_data.tail()

     BEGIN_YEARMONTH  BEGIN_DAY  ...  EVENT_NARRATIVE  DATA_SOURCE
218           195012          2  ...              NaN          PUB
219           195012          2  ...              NaN          PUB
220           195012          2  ...              NaN          PUB
221           195012          2  ...              NaN          PUB
222           195012          2  ...              NaN          PUB

[5 rows x 51 columns]

In [5]:
storm_data.shape

(223, 51)

In [6]:
storm_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 51 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BEGIN_YEARMONTH     223 non-null    int64
 1   BEGIN_DAY           223 non-null    int64
 2   BEGIN_TIME          223 non-null    int64
 3   END_YEARMONTH       223 non-null    int64
 4   END_DAY             223 non-null    int64
 5   END_TIME            223 non-null    int64
 6   EPISODE_ID          0 non-null      float64
 7   EVENT_ID            223 non-null    int64
 8   STATE               223 non-null    object
 9   STATE_FIPS          223 non-null    int64
 10  YEAR                223 non-null    int64
 11  MONTH_NAME          223 non-null    object
 12  EVENT_TYPE          223 non-null    object
 13  CZ_TYPE             223 non-null    object
 14  CZ_FIPS             223 non-null    int64
 15  CZ_NAME             223 non-null    object
 16  WFO                 0 non-null      float64
 17  BEGIN_DATE_TIME     223 non-null    object
 18  CZ_TIMEZONE         223 non-null    object
 19  END_DATE_TIME       223 non-null    object
 20  INJURIES_DIRECT     223 non-null    int64
 21  INJURIES_INDIRECT   223 non-null    int64
 22  DEATHS_DIRECT       223 non-null    int64
 23  DEATHS_INDIRECT     223 non-null    int64
 24  DAMAGE_PROPERTY     223 non-null    object
 25  DAMAGE_CROPS        223 non-null    int64
 26  SOURCE              0 non-null      float64
 27  MAGNITUDE           223 non-null    int64
 28  MAGNITUDE_TYPE      0 non-null      float64
 29  FLOOD_CAUSE         0 non-null      float64
 30  CATEGORY            0 non-null      float64
 31  TOR_F_SCALE         217 non-null    object
 32  TOR_LENGTH          223 non-null    float64
 33  TOR_WIDTH           223 non-null    int64
 34  TOR_OTHER_WFO       0 non-null      float64
 35  TOR_OTHER_CZ_STATE  0 non-null      float64
 36  TOR_OTHER_CZ_FIPS   0 non-null      float64
 37  TOR_OTHER_CZ_NAME   0 non-null      float64
 38  BEGIN_RANGE         223 non-null    int64
 39  BEGIN_AZIMUTH       0 non-null      float64
 40  BEGIN_LOCATION      0 non-null      float64
 41  END_RANGE           223 non-null    int64
 42  END_AZIMUTH         0 non-null      float64
 43  END_LOCATION        0 non-null      float64
 44  BEGIN_LAT           223 non-null    float64
 45  BEGIN_LON           223 non-null    float64
 46  END_LAT             115 non-null    float64
 47  END_LON             115 non-null    float64
 48  EPISODE_NARRATIVE   0 non-null      float64
 49  EVENT_NARRATIVE     0 non-null      float64
 50  DATA_SOURCE         223 non-null    object
dtypes: float64(21), int64(19), object(11)
memory usage: 89.0+ KB